#VERZEO{
    border: 5px darkgreen;
    width: 20px;
    text-align: center;
    margin: auto;
}
#fswd{
    border:3px darkorange;
    padding: 40px;
    width: 45%;
    margin: auto;
    text-align: center;
}
